* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-image: url(nuvem-nimbus-1000x450.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.fundo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.busca button:hover {
    background-color: #444;
}

.resultado {
    width: 700px;
    display: none;
    border: 1px dotted #fff;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.titulo {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo,
.umidadeTitulo,
.feelsLikeTitulo {
    font-size: 20px;
    margin-bottom: 5px;
}

.tempmininfo,
.tempatualinfo,
.tempmaxinfo,
.feelsLikeinfo,
.umidadeinfo,
.ventoInfo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}
.descriçao {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.tempatualinfo sup,
.tempmaxinfo sup,
.tempmininfo sup,
.feelsLikeinfo sup,
.umidadeinfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
    padding-left: 50px;
    padding-top: 50px;
}
.ventoPonto {
    width: 48px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.cordenadads {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    margin-bottom: 15px;
}
.cordenadastitulo {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}
.latitudetitulo,
.longitudetitulo {
    font-size: 20px;
}
.latitudeinfo,
.longitudeinfo {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.nascerdoSol {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.nascerdosoltitulo,
.pordoSoltitulo {
    margin-right: 15px;
    font-size: 20px;
}
.nascerdoSolinfo,
.pordoSolinfo {
    margin-right: 30px;
    font-size: 20px;
}

.aviso {
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    font-size: 13px;
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

@media (min-width: 320px) and (max-width: 600px) {
    .resultado {
        width: 90%;
        height: auto;
    }
    .fundo {
        height: auto;
    }
    .info {
        display: inline;
    }
    .umidadeTitulo,
    .ventoTitulo {
        margin-top: 20px;
    }
    .cordenadastitulo {
        margin-top: 30px;
    }
    .cordenadads {
        flex-direction: column;
    }
}